@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x35jkn');
  src:  url('fonts/icomoon.eot?x35jkn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x35jkn') format('truetype'),
    url('fonts/icomoon.woff?x35jkn') format('woff'),
    url('fonts/icomoon.svg?x35jkn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
